development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: mara_development
  pool:     5
  username: mara
  password:
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: travis
  pool:     5
  username: mara
  password:
  template: template0

production:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: mara_production
  pool:     5
  username: mara
  password:
  template: template0
